/* COMMON RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-aside: #000;
  --text-aside-primary: #717171;
  --border-as-left: #adff2f;
  --bg-head-main: #080b12;
  --bg-head-main-2:#181e29;
  --bg-main: #141922;
  --text-main: #7b7d82;
  --border-main-bot: #9ae22d;
  --bg-footer: #282828;
  --light-time-bar: #5a5a5a;
  --dark-time-bar: #848484;
  --text-footer: #878787;
  --white: #fff;
  --player-left: #c1c1c1;
  --player-right: #5a5a5a;
  --bg-user: #808080;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-aside);
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* UTILITY */

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-l {
  float: left;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.col-15 {
  width: 220px;
}

.col-85 {
  width: calc(100% - 220px);
}

.col-100 {
  width: 100%;
}

.ml-1 {
  margin-left: 1rem;
}

/********** ASIDE ***********/

.side-bar {
  width: 250px;
  height: calc(100vh - 80px);
  background-color: var(--bg-aside);
}

.wrapper {
  height: calc(100vh - 80px);
  margin: 0 1rem;
  color: var(--text-aside-primary);
  font-weight: 600;
  overflow: hidden;
}

.wrapper a:hover,
.wrapper input:hover,
.as-mid > p:hover,
.as-mid > i:hover,
.install:hover {
  color: var(--white);
  cursor: pointer;
}

.wrapper a:hover,
.wrapper input:hover,
.as-mid > p:hover,
.as-mid > i:hover,
.install:hover {
  transition: 500ms;
}

/* as-top */

.as-top {
  overflow: hidden;
  height: 86px;
}

.logo {
  width: 154px;
  height: 70px;
}

.logo > img {
  margin: 1rem 0;
}

.logo-320px {
  visibility: hidden;
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo2 {
  width: 46px;
  position: absolute;
  top: 0;
  left: 0.4px;
  visibility: hidden;
}

.logo:hover .logo2 {
  visibility: visible;
  transition: 500ms;
}

.active-l {
  width: 2px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 73px;
  border-radius: 2px;
  background-color: var(--border-as-left);
}

.as-top img {
  width: 20px;
  vertical-align: bottom;
}

.wrapper .home {
  color: var(--white);
}

.wrapper a {
  color: var(--text-aside-primary);
  vertical-align: super;
}

.as-top .cerca {
  padding-left: 3px;
  vertical-align: super;
}

.as-top {
  padding-right: 0.25rem;
  font-size: 20px;
}

.as-top > ul > li,
.as-mid li {
  padding: 0.4rem 0;
  font-size: 11px;
}

/* as-mid */

.as-mid > h4 {
  margin-top: 1rem;
  padding: 5px 0;
  text-transform: uppercase;
  color: var(--white);
}

.as-mid > .fa-solid {
  width: 20px;
  height: 20px;
}

.as-mid > p {
  text-align: right;
  display: inline-block;
  margin-left: 2rem;
  vertical-align: middle;
  margin-bottom: 1.8rem;
}

.playlist-scroll {
  height: 210px;
  overflow-y: auto;
  transition: 1s;
}

.playlist-scroll::-webkit-scrollbar {
  background-color: var(--bg-footer);
  visibility: hidden;
  width: 2px;
}

.playlist-scroll::-webkit-scrollbar-thumb {
  background-color: var(--player-left);
  border-radius: 7px;
  visibility: hidden;
}

.playlist-scroll:hover::-webkit-scrollbar,
.playlist-scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* as-bot */

.as-bot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.install {
  padding-bottom: 0.3rem;
  font-size: 10px;
}

.install span {
  vertical-align: super;
}

.install > img {
  padding-right: 0.35rem;
  width: 20px;
}

.user {
  padding: 0.75rem 0 0.7rem;
  border-top: 1px solid var(--text-aside-primary);
  font-weight: bold;
  color: var(--white);
  font-size: 12px;
}

.user > img {
  width: 18px;
  background-color: var(--bg-user);
  border-radius: 50%;
  vertical-align: bottom;
  margin-right: 0.3rem;
}

/************ MAIN ***********/

.header {
  width: calc(100% - 250px);
  height: 70px;
  background-image: linear-gradient(to top right, var(--bg-aside), var(--bg-head-main));
}

.btn {
  position: absolute;
  top: 13px;
  right: 15px;
  margin-top: 5px;
  padding: 0.5rem 2rem;
  color: var(--white);
  border: 1.5px solid var(--white);
  border-radius: 26px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 400ms;
}

.btn:hover {
  font-size: 12px;
  padding: 0.7rem 2.5rem;
}

/* content */

.content {
  width: calc(100% - 250px);
  height: calc(100vh - 150px);
  overflow-y: scroll;
  background-color: var(--bg-main);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--bg-footer);
  border-radius: 7px;
}

.content:hover::-webkit-scrollbar-thumb {
  background-color: var(--bg-user);
}

.content::-webkit-scrollbar-thumb:active {
  background-color: var(--border-as-left);
}

/* nav-bar */

.nav-bar {
  width: 665px;
  height: 50px;
  margin: auto;
}

.nav-bar ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 0 4px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-bar a {
  color: var(--text-main);
  transition: 500ms;
}

.nav-bar a:hover {
  color: var(--white);
}

.active-b {
  width: 30px;
  height: 2px;
  position: absolute;
  left: 24px;
  bottom: 14px;
  border-radius: 2px;
  background-color: var(--border-as-left);
}

/* content-top */

.title > h2 {
  color: var(--white);
  margin-top: 1rem;
}

.content-top > .card {
  width: calc(100% / 6 - 1rem);
  margin: 2rem 1rem 2rem 0;
}

.img-area {
  height: auto;
}

.play {
  color: var(--white);
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
  transition: 500ms;

}

.img-area:hover img {
  opacity: 0.6;
  filter: blur(1px);
  cursor: pointer;
  transition: 500ms, box-shadow 100ms;
  border-radius: 5px;
}

.img-area:hover .play {
  opacity: 1;
  transition: 500ms;
}

.text-area {
  height: 80px;
}

.text-area > h5 {
  color: var(--white);
  text-align: center;
  margin: 1rem 0 0.7rem 0;
}

.text-area > p {
  color: var(--text-main);
  text-align: center;
  font-size: 11px;
  font-weight: 700;
}

/* content-mid */

.title > p {
  color: var(--text-main);
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 700;
}

.content-mid > .card,
.content-bot > .card {
  width: calc(100% / 3.5);
  margin: 2rem 1rem 2rem 0;
}

/* content-bot */

.content-bot .img-area > img {
  border-radius: 50%;
}

/************ FOOTER **********/

.music-status {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom right, var(--bg-aside), var(--bg-footer));
}

/* menu-left */

.menu-left > .album {
  width: 50px;
  margin-left: 0.5rem;
}

.song {
  margin: 0.7rem;
}

.song > h5 {
  color: var(--white);
}

.song > p {
  color: var(--text-footer);
  font-weight: 700;
  font-size: 10px;
  transition: 500ms;
}

.song > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.items {
  margin: 1rem 0 0 2rem;
  color: var(--text-footer);
}

.items > .fa-heart {
  margin-right: 0.7rem;
}

.items > .fa-heart:hover,
.items > .fa-folder:hover {
  color: var(--white);
  cursor: pointer;
}

/* menu-mid */

.menu-mid {
  width: 400px;
  flex-direction: column;
  align-items: center;
}

.player {
  color: var(--white);
  margin-top: -1rem;
}

.player > i {
  padding: 0.4rem;
  margin: 0.3rem;
  cursor: pointer;
}

.player > .fa-circle-play {
  font-size: 24px;
  transition: 100ms linear;
}

.player > .fa-circle-play:hover {
  font-size: 28px;
}

.timing > span {
  color: var(--white);
  font-size: 11px;
}

.timing > .start {
  margin-right: 1.75rem;
}

.timing > .finish {
  margin-left: 1.75rem;
}

.time,
.time-2 {
  height: 4px;
  border-radius: 10px;
  margin-top: 0.3rem;
  cursor: pointer;
}

.time {
  width: 80px;
  margin-right: -16px;
  background-color: var(--player-left);
}

.time:hover {
  background-color: var(--border-as-left);
}

.time:hover + .circle {
  visibility: visible;
}

.time-2 {
  width: 200px;
  background-color: var(--player-right);
}

.circle {
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border-radius: 50%;
  margin-top: 1.5px;
  margin-left: 5px;
  visibility: hidden;
}

/* menu-right */

.menu-right i {
  padding: 0.7rem;
  color: var(--white);
  font-size: 10px;
  cursor: pointer
  
  
  ;
}

.volume-l,
.volume-r {
  height: 3px;
  border-radius: 10px;
  margin-top: 0.85rem;
  cursor: pointer;
}

.volume-l {
  width: 35px;
  background-color: var(--player-left);
  margin-right: -10px;
}

.volume-r {
  width: 60px;
  background-color: var(--player-right);
  margin-right: 1.75rem;
}

.circle-vol {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border-radius: 50%;
  margin-top: 0.65rem;
  visibility: hidden;
}

.volume-l:hover {
  background-color: var(--border-main-bot);
}

.volume-l:hover + .circle-vol {
  visibility: visible;
}

/* MEDIA QUERIES */

@media screen and (max-height: 150px) {
  .header,
  .side-bar {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .as-bot {
    z-index: -1;
  }
}

@media screen and (max-width: 768px) {
  /* ASIDE */

  .side-bar {
    width: 200px;
  }

  .active-l {
    top: 60px;
  }

  .logo {
    width: 117px;
    height: 10vh;
  }

  .logo2 {
    width: 35px;
  }

  .as-mid > h4 {
    font-size: 14px;
  }
  .as-mid > .fa-solid {
    font-size: 41px;
  }

  .as-mid > p {
    font-size: 14px;
    margin-left: 1.25rem;
  }

  .playlist-scroll {
    height: 155px;
  }

  .install {
    font-size: 9px;
  }

  .install > img {
    width: 18px;
  }

  .user {
    padding: 0.5rem 0 0.7rem;
    font-size: 11px;
  }

  .as-top > ul > li,
  .as-mid li {
    padding: 0.2rem 0;
    font-size: 10px;
  }

  /* main */

  /* header */

  .header {
    width: calc(100% - 200px);
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 9px;
  }

  .btn:hover {
    font-size: 10px;
    padding: 0.55rem 1.75rem;
  }

  /* navbar */

  .nav-bar {
    width: 537px;
  }

  .nav-bar > ul {
    font-size: 10px;
  }

  /* content */

  .content {
    width: calc(100% - 200px);
    overflow-x: hidden;
  }

  .title > h2 {
    font-size: 18px;
  }

  .content-top > .card {
    width: calc(100% / 4 - 1rem);
    margin: 1rem 1rem 1rem 0;
  }

  .text-area > h5 {
    font-size: 12px;
  }

  .text-area > p {
    font-size: 9.5px;
  }

  .title > p {
    margin-top: 0.2rem;
    font-size: 12px;
  }

  .content-mid > .card,
  .content-bot > .card {
    width: 119px;
  }

  /* footer */

  /* menu-left */

  .menu-left > .album {
    width: 40px;
  }

  .song {
    width: 60px;
  }

  .song > h5 {
    font-size: 11.5px;
  }

  .song > p {
    font-size: 8px;
  }

  .items {
    font-size: 13px;
    margin-left: 0;
  }

  .items > .fa-heart {
    padding-bottom: 5px;
  }

  /* menu-mid */

  .player > i {
    font-size: 14px;
  }

  .player > .fa-circle-play {
    font-size: 20px;
  }

  .time {
    width: 55px;
  }

  .time-2 {
    width: 170px;
  }
  .timing > span {
    font-size: 9.5px;
  }

  .circle {
    margin-top: 1.5px;
    margin-left: 5px;
  }

  /* menu-left */

  .menu-right > i {
    padding: 0.5rem;
  }

  .volume-l {
    width: 30px;
  }

  .volume-r {
    width: 50px;
    background-color: var(--player-right);
  }
  .volume-l,
  .volume-r {
    margin-top: 0.85rem;
  }

  .circle-vol {
    margin-top: 0.6rem;
  }
}

@media screen and (max-width: 568px) {
  /* ASIDE */

  .side-bar {
    width: 180px;
  }

  .active-l {
    top: 60px;
  }

  .playlist-scroll {
    height: 135px;
  }

  .install {
    font-size: 8px;
  }

  /* main */

  /* header */

  .header {
    width: calc(100% - 180px);
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 9px;
  }

  .btn:hover {
    font-size: 10px;
    padding: 0.55rem 1.75rem;
  }

  /* navbar */

  .nav-bar {
    margin-bottom: 2.5rem;
    margin-left: 1.5rem;
  }

  .nav-bar > ul {
    width: calc(100% - 180px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5rem;
  }

  .nav-bar > ul > li {
    font-size: 10px;
    padding-right: 3rem;
  }

  .active-b {
    left: 25px;
  }

  /* content */

  .content {
    width: calc(100% - 180px);
    overflow-x: hidden;
  }

  .title > h2 {
    font-size: 16px;
  }

  .content-top > .card,
  .content-mid > .card,
  .content-bot > .card {
    width: calc(100% / 2 - 1rem);
    margin: 0.7rem 1rem 0 0;
  }

  .text-area {
    height: auto;
  }

  .text-area > h5 {
    font-size: 11px;
    margin: 0.2rem 0 0.4rem 0;
  }

  .text-area > p {
    font-size: 9px;
  }

  .title > p {
    margin-top: 0.2rem;
    font-size: 10px;
  }

  /* footer */

  /* menu-left */

  .menu-left > .album {
    width: 30px;
    align-self: center;
  }

  .song > p {
    width: 60px;
  }

  .items {
    margin-left: 0;
    margin-bottom: 13px;
  }

  /* menu-mid */

  .player > i {
    font-size: 12px;
    padding: 1.25px;
  }

  .player > .fa-circle-play {
    font-size: 17px;
  }

  .player > .fa-circle-play:hover {
    font-size: 24px;
  }

  .timing > .start {
    margin-right: 0.6rem;
  }

  .timing > .finish {
    margin-left: 0.6rem;
  }

  .time {
    width: 45px;
  }

  .time-2 {
    width: 110px;
  }

  /* menu-left */

  .action > i {
    padding: 0.5rem;
    font-size: 9.5px;
  }

  .volume-l {
    width: 25px;
  }

  .volume-r {
    width: 40px;
    margin-right: 0.7rem;
  }
  .volume-l,
  .volume-r {
    margin-top: 0.7rem;
  }

  .circle-vol {
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 380px) {
  /* ASIDE */

  .side-bar {
    width: 40px;
  }

  .wrapper {
    margin: 0 0.4rem;
  }

  .logo > img {
    visibility: hidden;
  }

  .logo2 {
    width: 24.75px;
  }

  .logo > img.logo-320px {
    visibility: visible;
  }

  .active-l {
    top: 57px;
  }

  .as-mid > h4,
  .as-mid,
  .install,
  .as-top > ul > li > a,
  .as-mid li,
  .user > span {
    visibility: hidden;
  }

  .as-top > ul > li > img,
  .install > img {
    visibility: visible;
  }

  .as-top > ul > li,
  .as-mid li {
    padding: 0;
  }

  .install > img {
    width: 20px;
    margin-bottom: -12px;
    margin-left: 3px;
  }

  .as-bot {
    bottom: -25px;
  }

  .user {
    padding-top: 0;
    border-top: none;
  }

  .user > img {
    margin-left: 2px;
    height: 18px;
  }

  /* main */

  /* header */

  .header {
    width: calc(100% - 40px);
  }

  .btn {
    font-size: 8px;
  }

  .btn:hover {
    font-size: 9px;
  }

  /* navbar */

  .nav-bar {
    width: 450px;
  }

  .nav-bar > ul > li {
    padding-right: 0;
  }

  .active-b {
    left: 35px;
  }

  /* content */

  .content {
    width: calc(100% - 40px);
  }

  .content-top > .card,
  .content-mid > .card,
  .content-bot > .card {
    width: calc(100% / 2 - 0.5rem);
    margin: 0.7rem 0.5rem 0 0;
  }

  .text-area {
    height: 60px;
  }

  /* footer */

  /* menu-left */
  .song {
    margin: 0.9rem 0 0 0.2rem;
    width: 50;
  }

  .items {
    display: flex;
    flex-direction: column;
    margin-left: 0.1rem;
  }

  .items > .fa-heart {
    padding-bottom: 5px;
    margin-left: 0rem;
    margin-top: -4px;
  }

  .player {
    margin-bottom: 0.4rem;
  }

  .player > i {
    font-size: 12px;
    padding: 1px;
  }

  .player > .fa-circle-play {
    font-size: 16px;
  }

  .player > .fa-circle-play:hover {
    font-size: 19px;
  }

  .timing > .start {
    margin-right: 0.4rem;
  }

  .timing > .finish {
    margin-left: 0.4rem;
  }

  .time {
    width: 30px;
    margin-right: -16px;
  }

  .time-2 {
    width: 60px;
  }

  .timing > span {
    margin-top: 2px;
  }

  /* menu-left */

  .menu-right {
    flex-direction: column;
  }

  .menu-right i {
    padding: 6px;
    font-size: 8px;
  }

  .fa-list {
    order: 1;
  }

  .fa-volume-up {
    order: 2;
  }

  .fa-desktop {
    order: 3;
  }

  .volume-l {
    order: 4;
  }

  .volume-r {
    order: 5;
  }

  .circle-vol {
    order: 4;
  }
}


