/* COMMON RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-aside: #000;
  --text-aside-primary: #717171;
  --border-as-left: #adff2f;
  --bg-head-main: #080b12;
  --bg-main: #141922;
  --text-main: #7b7d82;
  --border-main-bot: #9ae22d;
  --bg-footer: #282828;
  --light-time-bar: #5a5a5a;
  --dark-time-bar: #848484;
  --text-footer: #878787;
  --white: #fff;
  --player-left: #c1c1c1;
  --player-right: #5a5a5a;
  --bg-user: #808080;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* UTILITY */

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-l {
  float: left;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.col-15 {
  width: 220px;
}

.col-85 {
  width: calc(100% - 220px);
}

.col-100 {
  width: 100%;
}

.ml-1 {
  margin-left: 1rem;
}

/********** ASIDE ***********/

.side-bar {
  width: 250px;
  height: calc(100vh - 80px);
  background-color: var(--bg-aside);
}

.wrapper {
  height: calc(100vh - 80px);
  margin: 0 1rem;
  color: var(--text-aside-primary);
  font-weight: 600;
}

.wrapper a:hover,
.wrapper input:hover,
.playlist > p:hover,
.playlist > i:hover,
.install:hover {
  color: var(--white);
  cursor: pointer;
}

.wrapper a:hover,
.wrapper input:hover,
.playlist > p:hover,
.playlist > i:hover,
.install:hover {
  transition: 500ms;
}

/* actions */

.logo {
  width: 154px;
  height: 10vh;
}

.logo > img {
  margin: 1rem 0;
}

.logo2 {
  width: 46px;
  position: absolute;
  top: 0;
  left: 0.4px;
  visibility: hidden;
}

.logo:hover .logo2 {
  visibility: visible;
  transition: 500ms;
}

.active-l {
  width: 2px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 77px;
  border-radius: 02px;
  background-color: var(--border-as-left);
}

.actions img {
  width: 20px;
  vertical-align: bottom;
}

.wrapper .home {
  color: var(--white);
}

.wrapper a {
  color: var(--text-aside-primary);
  vertical-align: super;
}

.actions input {
  background-color: transparent;
  border: none;
  padding-left: 0.25rem;
  vertical-align: super;
  font-size: 13px;
}
.super {
  vertical-align: super;
}

.actions {
  padding-right: 0.25rem;
  font-size: 20px;
}

.actions > ul > li,
.playlist li {
  padding: 0.4rem 0;
  font-size: 11px;
}

/* playlist */

.playlist > h4 {
  margin-top: 0.5rem;
  padding: 5px 0;
  text-transform: uppercase;
  color: var(--white);
}

.playlist > .fa-solid {
  width: 20px;
  height: 20px;
}

.playlist > p {
  text-align: right;
  display: inline-block;
  margin-left: 2rem;
  vertical-align: middle;
  margin-bottom: 1.8rem;
}

.playlist-scroll {
  height: 210px;
  overflow-y: auto;
  transition: 1s;
}

.playlist-scroll::-webkit-scrollbar {
  background-color: var(--bg-footer);
  visibility: hidden;
  width: 5px;
}

.playlist-scroll::-webkit-scrollbar-thumb {
  background-color: var(--player-left);
  border-radius: 7px;
  visibility: hidden;
}

.playlist-scroll:hover::-webkit-scrollbar,
.playlist-scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* info */

.info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.install {
  padding-bottom: 0.3rem;
  font-size: 10px;
}

.install span {
  vertical-align: super;
}

.install > img {
  padding-right: 0.35rem;
  width: 20px;
}

.user {
  padding: 0.75rem 0 0.7rem;
  border-top: 1px solid var(--text-aside-primary);
  font-weight: bold;
  color: var(--white);
  font-size: 12px;
}

.user > img {
  width: 18px;
  background-color: var(--bg-user);
  border-radius: 50%;
  vertical-align: bottom;
  margin-right: 0.3rem;
}

/************ MAIN ***********/

.header {
  width: calc(100% - 250px);
  height: 70px;
  background-color: var(--bg-head-main);
}

.btn {
  position: absolute;
  top: 13px;
  right: 15px;
  margin-top: 5px;
  padding: 0.5rem 2rem;
  color: var(--white);
  border: 1.5px solid var(--white);
  border-radius: 26px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 400ms;
}

.btn:hover {
  font-size: 12px;
  padding: 0.7rem 2.5rem;
}

.content {
  width: calc(100% - 250px);
  height: calc(100vh - 150px);
  background-color: var(--bg-main);
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  width: 10px;
}

.content::-webkit-scrollbar-thumb {
  background-color: var(--bg-user);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-as-left);
}

/* nav-bar */

.nav-bar {
  width: 665px;
  height: 50px;
  margin: auto;
}

.nav-bar ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 0 4px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-bar a {
  color: var(--text-main);
  transition: 500ms;
}

.nav-bar a:hover {
  color: var(--white);
}

.active-b {
  width: 30px;
  height: 2px;
  position: absolute;
  left: 24px;
  bottom: 14px;
  border-radius: 2px;
  background-color: var(--border-as-left);
}

/* content-top */

.title > h2 {
  color: var(--white);
  margin-top: 1rem;
}

.card {
  width: 193px;
  margin: 2rem 1rem 2rem 0;
}

.img-area {
  height: auto;
}

.play {
  color: var(--white);
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.img-area:hover img {
  opacity: 0.45;
  transition: 500ms;
}

.img-area:hover .play {
  opacity: 1;
  transition: 500ms;
}

.text-area {
  height: 80px;
}

.text-area > h5 {
  color: var(--white);
  text-align: center;
  margin: 1rem 0 0.7rem 0;
}

.text-area > p {
  color: var(--text-main);
  text-align: center;
  font-size: 11px;
  font-weight: 700;
}

/* content-mid */

.title > p {
  color: var(--text-main);
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: 700;
}

/* content-bot */

.content-bot .img-area > img {
  border-radius: 50%;
}

/************ FOOTER **********/

.music-status {
  height: 80px;
  background-color: var(--bg-footer);
  justify-content: space-between;
  align-items: center;
}

/* menu-left */

.menu-left > .album {
  width: 50px;
  margin-left: 0.5rem;
}

.song {
  margin: 0.7rem;
}

.song > h5 {
  color: var(--white);
}

.song > p {
  color: var(--text-footer);
  font-weight: 700;
  font-size: 10px;
  transition: 500ms;
}

.song > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.items {
  display: inline-block;
  margin: 1rem 0 0 2rem;
  color: var(--text-footer);
}

.items > .fa-heart {
  margin-right: 0.7rem;
}

.items > .fa-heart:hover,
.items > .fa-folder:hover {
  color: var(--white);
  cursor: pointer;
}

/* menu-mid */
.menu-mid {
  width: 400px;
  flex-direction: column;
  align-items: center;
}

.player {
  color: var(--white);
  margin-top: -1rem;
}

.player > i {
  padding: 0.4rem;
  margin: 0.3rem;
  cursor: pointer;
}

.player > .fa-circle-play {
  font-size: 24px;
  transition: 100ms linear;
}

.player > .fa-circle-play:hover {
  font-size: 28px;
}

.timing > span {
  color: var(--white);
  font-size: 11px;
}

.timing > .start {
  margin-right: 1.75rem;
}

.timing > .finish {
  margin-left: 1.75rem;
}

.time,
.time-2 {
  height: 4px;
  border-radius: 10px;
  margin-top: 0.3rem;
  cursor: pointer;
}

.time {
  width: 80px;
  margin-right: -14px;
  background-color: var(--player-left);
}

.time:hover {
  background-color: var(--border-as-left);
}

.time:hover + .circle {
  visibility: visible;
}

.time-2 {
  width: 200px;
  background-color: var(--player-right);
}

.circle {
  /* display: inline-block; */
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border-radius: 50%;
  margin-top: 1.5px;
  visibility: hidden;
}

/* menu-right */

.menu-right > i {
  padding: 0.7rem;
  color: var(--white);
  font-size: 10px;
}

.volume-l,
.volume-r {
  display: inline-block;
  height: 3px;
  border-radius: 10px;
  margin-top: 0.85rem;
  cursor: pointer;
}

.volume-l {
  width: 35px;
  background-color: var(--player-left);
  margin-right: -10px;
}

.volume-r {
  width: 60px;
  background-color: var(--player-right);
  margin-right: 1.75rem;
}

.circle-vol {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border-radius: 50%;
  margin-top: 0.65rem;
  visibility: hidden;
}

.volume-l:hover {
  background-color: var(--border-main-bot);
}

.volume-l:hover + .circle-vol {
  visibility: visible;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) and (min-width: 600px) {
  /* ASIDE */

  .side-bar {
    width: 200px;
    height: calc(100vh - 80px);
    background-color: var(--bg-aside);
  }

  .logo {
    width: 117px;
    height: 10vh;
  }

  .logo2 {
    width: 35px;
  }

  .playlist > h4 {
    font-size: 14px;
  }
  .playlist > .fa-solid {
    font-size: 41px;
  }

  .playlist > p {
    font-size: 14px;
    margin-left: 1.25rem;
  }

  .playlist-scroll {
    height: 155px;
  }

  .install {
    font-size: 9px;
  }

  .install > img {
    width: 18px;
  }

  .user {
    padding: 0.5rem 0 0.7rem;
    font-size: 11px;
  }

  .actions > ul > li,
  .playlist li {
    padding: 0.2rem 0;
    font-size: 10px;
  }

  /* main */

  /* header */

  .header {
    width: calc(100% - 200px);
    height: 70px;
    background-color: var(--bg-head-main);
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 9px;
  }

  .btn:hover {
    font-size: 10px;
    padding: 0.55rem 1.75rem;
  }

  /* navbar */

  .nav-bar {
    width: 537px;
  }

  .nav-bar > ul {
    font-size: 10px;
  }

  /* content */

  .content {
    width: calc(100% - 200px);
  }

  .title > h2 {
    font-size: 18px;
  }

  .card {
    width: 119px;
    margin: 1rem 1rem 1rem 0;
  }

  .text-area > h5 {
    font-size: 12px;
  }

  .text-area > p {
    font-size: 9.5px;
  }

  .title > p {
    margin-top: 0.2rem;
    font-size: 12px;
  }

  /* footer */

  /* menu-left */

  .menu-left > .album {
    width: 40px;
  }

  .song > h5 {
    font-size: 11.5px;
  }

  .song > p {
    font-size: 8px;
  }

  .items {
    display: flex;
    font-size: 13px;
  }

  .items > .fa-heart {
    padding-bottom: 5px;
    margin-left: 1.75rem;
  }

  /* menu-mid */

  .player > i {
    font-size: 14px;
  }

  .player > .fa-circle-play {
    font-size: 20px;
  }

  .time {
    width: 55px;
  }

  .time-2 {
    width: 170px;
  }
  .timing > span {
    font-size: 9.5px;
  }

  .circle {
    margin-top: 1.5px;
    margin-left: 5px;

  }

  /* menu-left */

  .menu-right > i {
    padding: 0.5rem;
  }

  .volume-l {
    width: 30px;
    margin-right: -10px;
  }

  .volume-r {
    width: 50px;
    background-color: var(--player-right);
    margin-right: 1rem;
  }
  .volume-l,
  .volume-r {
    margin-top: 0.65rem;
  }

  .circle-vol {
    margin-top: 0.45rem;
  }
}

@media screen and (max-width: 425px) and (min-width: 375px) {
  /* ASIDE */

  .side-bar {
    width: 140px;
    height: calc(100vh - 80px);
    background-color: var(--bg-aside);
  }

  .logo {
    width: 90px;
    height: 10vh;
  }

  .logo2 {
    width: 26.8px;
  }

  .active-l {
    top: 60px;
  }

  .playlist > h4 {
    font-size: 10px;
  }
  .playlist > .fa-solid {
    font-size: 30px;
  }

  .playlist > p {
    font-size: 10px;
    margin-left: 8px;
    margin-top: 13px;
  }

  .playlist-scroll {
    height: 135px;
  }

  .install {
    font-size: 8px;
  }

  .install > img {
    width: 18px;
  }

  .user {
    padding: 0.4rem 0 0.5rem;
    font-size: 10px;
  }

  .actions > ul > li,
  .playlist li {
    padding: 3px 0;
    font-size: 8.5px;
  }

  /* main */

  /* header */

  .header {
    width: calc(100% - 140px);
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 9px;
  }

  .btn:hover {
    font-size: 10px;
    padding: 0.55rem 1.75rem;
  }

  /* navbar */

  .nav-bar {
    margin-bottom: 2.5rem;
  }

  .nav-bar > ul {
    width: 265px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1.5rem;
  }

  .nav-bar > ul {
    font-size: 10px;
  }

  .active-b {
    height: 1.5px;
    left: 40px;
    bottom: 16px;
  }

  /* content */

  .content {
    width: calc(100% - 140px);
    overflow-x: hidden;
  }

  .title > h2 {
    font-size: 16px;
  }

  .card {
    width: 110px;
    margin: 0.7rem 1rem 0 0;
  }

  .text-area {
    height: 80px;
  }

  .text-area > h5 {
    font-size: 11px;
    margin: 0.2rem 0 0.4rem 0;
  }

  .text-area > p {
    font-size: 9px;
  }

  .title > p {
    margin-top: 0.2rem;
    font-size: 10px;
  }

  /* footer */

  /* menu-left */

  .menu-left > .album {
    width: 30px;
    align-self: center;
  }

  .song {
    margin-left: 0.5rem;
    align-self: center;
  }

  .song > h5 {
    font-size: 9px;
  }

  .song > p {
    font-size: 6px;
    width: 40px;
  }

  .items {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    margin-left: -0.3rem;
    margin-bottom: 13px;
    /* display: none; */
  }

  .items > .fa-heart {
    padding-bottom: 5px;
  }

  /* menu-mid */

  .player > i {
    font-size: 12px;
    padding: 1px;
  }

  .player > .fa-circle-play {
    font-size: 16px;
  }

  .player > .fa-circle-play:hover {
    font-size: 19px;
  }

  .timing > .start {
    margin-right: 0.4rem;
  }

  .timing > .finish {
    margin-left: 0.4rem;
  }

  .time {
    width: 30px;
    margin-right: -16px;
  }

  .time-2 {
    width: 60px;
  }

  .timing > span {
    font-size: 8px;
  }

  .circle {
    margin-top: 1.5px;
    margin-left: 5px;
  }

  /* menu-left */

  .menu-right > i {
    padding: 0.3rem;
    font-size: 8px;
  }

  .volume-l {
    width: 25px;
    margin-right: -10px;
  }

  .volume-r {
    width: 40px;
    background-color: var(--player-right);
    margin-right: 1rem;
  }
  .volume-l,
  .volume-r {
    margin-top: 0.50rem;
  }

  .circle-vol {
    margin-top: 0.30rem;
    
  }
}
