/* COMMON RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-aside: #000;
  --heart-as-1: #3610aa;
  --heart-as-2: #829b99;
  --heart-succes: #1db954;
  --circle-play: #1ed760;
  --arrow-left: #2b2d2b;
  --arrow-right: #535753;
  --arrow: #c7c7c7;
  --text-aside-primary: #8f8f8f;
  --bg-head-top: #989f98;
  --bg-head-bot: #525652;
  --bg-main-top:#3b3e3b;
  --bg-main-mid: #1f1f1f;
  --bg-main: #121212;
  --text-time: #c4cdc4;
  --text-main: #a3a3a3;
  --hr-aside: #282828;
  --hr-main: #393a39;
  --hr-footer: #393a39;
  --bg-footer: #181818;
  --text-footer: #535353;
  --text-footer-2: #9f9f9f;
  --footer-volume: #b3b3b3;
  --footer-time: #a7a7a7;
  --white: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* UTILITY */

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-l {
  float: left;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.col-15 {
  width: 220px;
}

.col-85 {
  width: calc(100% - 220px);
}

.col-100 {
  width: 100%;
}

.ml-1 {
  margin-left: 1rem;
}

/********** ASIDE ***********/

.side-bar {
  width: 220px;
  height: calc(100vh - 80px);
  background-color: var(--bg-aside);
}

.wrapper {
  height: calc(100vh - 80px);
  margin: 0 1rem;
  color: var(--text-aside-primary);
  font-weight: 600;
  overflow: hidden;
}

.wrapper a:hover,
.wrapper input:hover,
.as-mid > p:hover,
.as-mid > i:hover,
.install:hover {
  color: var(--white);
  cursor: pointer;
}

.wrapper a,
.wrapper input,
.as-mid > p,
.as-mid > i,
.install {
  transition: 500ms;
}

/* as-top */

.as-top {
  height: 86px;
}

.logo {
  width: 154px;
  height: 70px;
}

.logo > img {
  margin: 1rem 0;
}

.logo2 {
  width: 46px;
  position: absolute;
  top: 0;
  left: 0.4px;
  visibility: hidden;
}

svg.svg {
  width: 20px;
  background-color: transparent;
}

.logo:hover .logo2 {
  visibility: visible;
  transition: 500ms;
}

.as-top img {
  width: 20px;
  vertical-align: bottom;
}

.wrapper a {
  color: var(--text-aside-primary);
  vertical-align: super;
}

.as-top .cerca {
  padding-left: 3px;
  vertical-align: super;
}

.as-top {
  padding-right: 0.25rem;
  font-size: 20px;
}

.as-top > ul > li,
.as-mid li {
  padding: 0.4rem 0;
  font-size: 11px;
}

/* as-mid */

.as-mid {
  margin-top: 1.5rem;
}

.as-mid > .fa-solid {
  width: 10px;
}

.as-mid > p {
  display: inline-block;
  margin-left: 1.5rem;
  vertical-align: middle;
  margin-bottom: 1rem;
  font-size: 15px;
}

.heart > .fa-heart {
  padding: 6px;
  width: 28px;
  height: 28px;
  background-image: linear-gradient(
    to bottom right,
    var(--heart-as-1),
    var(--heart-as-2)
  );
}

.heart {
  border-bottom: 1px solid var(--hr-main);
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.heart > p {
  margin-left: 0.3rem;
  font-size: 15px;
  display: inline-block;
}

.playlist-scroll {
  height: 200px;
  overflow-y: auto;
  transition: 1s;
}

.playlist-scroll a.playlist-1 {
  color: white;
  padding: 0.5rem 0;
}

.playlist-scroll::-webkit-scrollbar {
  background-color: var(--bg-footer);
  visibility: hidden;
  width: 2px;
}

.playlist-scroll::-webkit-scrollbar-thumb {
  background-color: var(--player-left);
  border-radius: 7px;
  visibility: hidden;
}

.playlist-scroll:hover::-webkit-scrollbar,
.playlist-scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* as-bot */

.as-bot {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.install {
  padding-bottom: 0.3rem;
  font-size: 11px;
}

.install span {
  vertical-align: super;
}

.install > img {
  padding-right: 0.5rem;
  width: 24px;
}

/************ MAIN ***********/

/* content */

.container {
  width: calc(100% - 220px);
  height: calc(100vh - 80px);
  /* overflow-y: scroll; */
}

/* .container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--bg-footer);
  border-radius: 7px;
}

.container:hover::-webkit-scrollbar-thumb {
  background-color: var(--bg-user);
}

.container::-webkit-scrollbar-thumb:active {
  background-color: var(--border-as-left);
} */

/* header */

.header {
  background-image: linear-gradient(var(--bg-head-top) 20%, var(--bg-head-bot));
  height: calc(100vh - 450px);
}

.btn-head {
  color: var(--white);
  justify-content: space-between;
}

.btn-l {
  margin-top: 1rem;
  margin-left: 2rem;
}

.fa-chevron-left,
.fa-chevron-right {
  padding: 6px 8.5px;
  width: 28px;
  height: 28px;
  color: var(--arrow);
}

.fa-chevron-left {
  background-color: var(--arrow-left);
}

.fa-chevron-right {
  background-color: var(--arrow-right);
}

.btn-l > .fa-solid {
  border-radius: 50%;
}

.btn-r {
  margin-top: 1rem;
}

.upgrade{
    vertical-align: bottom;
    margin-top: 0.3rem;
    margin-right: 2rem;
    height: 28px;
    padding:0.3rem 2rem;
    background-color: var(--arrow-left);
    border-radius:20px;
    border: 0.5px solid var(--white);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.user {
  margin-top: 0.3rem;
  height: 28px;
  padding: 0rem;
  margin-right: 4rem;
  background-color: var(--arrow-left);
  border-radius: 20px;
}

.logo-user {
  width: 25px;
  height: 25px;
  background-color: var(--text-footer);
  border-radius: 50%;
  margin-right: 10px;
  padding: 3px;
  margin: 0.1rem 1rem 0.1rem 0.1rem;
}
.logo-user > img {
  width: 16px;
  height: 16px;
  background-color: var(--text-footer);
}

.user > p,
.user > i {
  margin-right: 10px;
  font-weight: bold;
  font-size: 13px;
}

.user > p {
  padding-top: 4px;
}

.user > i {
  padding-top: 6.5px;
}

/* my-playlist */

.my-playlist {
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin: 0.7rem 0 1.5rem 2rem;
}

.album {
  width: 210px;
  height: auto;
  margin-right: 2rem;
}

.title-album {
  align-self: flex-end;
  color: var(--white);
}

.title-album p:first-child {
  text-transform: uppercase;
  font-size: 14px;
}

.title-album > h1 {
  margin: 0.75rem 0;
  font-size: 70px;
}

.title-album > i {
  font-size: 4px;
  vertical-align: middle;
}

.title-album > .name-user,
.title-album p:last-child {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 0.3rem;
}

.title-album p:first-child,
.title-album > .name-user {
  font-weight: bold;
}

.title-album span {
  color: var(--text-time);
}

/* content */

.content {
  height: calc(100vh - 375.5px);
  width: 100%;
  background-image: linear-gradient(var(--bg-main-top)10%, var(--bg-main-mid)45%, var(--bg-main));
}

.content-top {
  padding: 1rem 2rem;
}

.content-top > .fa-play {
  padding: 12px 15px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 16px;
  background-color: var(--circle-play);
}

.content-top>.fa-ellipsis {
  margin-left: 1.5rem;
  font-size: 25px;
  color: var(--white);
  vertical-align: sub;
}

/* content-mid */

.wrapper-main{
  margin: 0rem 1.5rem;
  color: var(--text-main);
}

/* info */

.info{
  width: 1200px;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 1.5rem 0.5rem 2rem;
}

.info>.title-number{
  flex-grow: 0.35;
}

.title-number>p:first-child{
  padding-right: 0.75rem;
}

.info>.fa-clock{
  font-size: 16px;
}

/* playlist-songs */

.playlist-songs{
  border-top: 1px solid var(--hr-main);
}

.row{
  margin: 0 1.5rem 0.7rem;
  justify-content: space-between;
}

.row-top{
  margin-top: 1rem;
}

.song-info{
  flex-grow: 0.35;
}

.img-song{
  width: 40px;
  height: 40px;
  margin: 0 0.7rem;
}

.row-top .img-song{
  margin-left: 0.85rem;
}

.number-img>p{
  padding-top:0.5rem;
}

.author>h5{
  color: var(--white);
  font-weight: normal;
}

.song-info{
  width: 120px;
}

.author>p{
  padding-top: 0.2rem;
}

.row>.album{
  width: 60px
}

.author>p,
.album>p,
.row >.date>p,
.duration>p{
  font-size: 12px;
}

.row .fa-heart{
  color: var(--heart-succes);
}




/* .song-info >.album> p{
  
} */








/************ FOOTER **********/

.music-status {
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bg-footer);
  border-top: 1px solid var(--hr-footer);
}

/* menu-mid */

.menu-mid {
  width: 400px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 550px;
}

.player {
  color: var(--text-footer);
  margin-top: -1rem;
}

.player > i {
  padding: 0.4rem;
  margin: 0.3rem;
  cursor: pointer;
}

.player > .fa-circle-pause {
  font-size: 24px;
  transition: 100ms linear;
}

.timing > span {
  color: var(--footer-time);
  font-size: 11px;
}

.timing > .start {
  margin-right: 1.75rem;
}

.timing > .finish {
  margin-left: 1.75rem;
}

.time {
  width: 450px;
  height: 4px;
  background-color: var(--text-footer);
  border-radius: 10px;
  margin-top: 0.3rem;
  cursor: pointer;
}

/* menu-right */

.menu-right i {
  padding: 0.7rem;
  color: var(--white);
  font-size: 10px;
  cursor: pointer;
  color: var(--text-footer-2);
}

.vol {
  width: 80px;
  height: 3px;
  border-radius: 10px;
  margin-top: 0.85rem;
  cursor: pointer;
  background-color: var(--footer-volume);
  margin-right: 1.75rem;
}
